<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaGaragemController</servlet-name>
        <servlet-class>controller.PesquisaGaragemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaTanqueController</servlet-name>
        <servlet-class>controller.PesquisaTanqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaBombaController</servlet-name>
        <servlet-class>controller.PesquisaBombaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCarroController</servlet-name>
        <servlet-class>controller.PesquisaCarroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCombustivelController</servlet-name>
        <servlet-class>controller.PesquisaCombustivelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAbastecimentoController</servlet-name>
        <servlet-class>controller.PesquisaAbastecimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterGaragemController</servlet-name>
        <servlet-class>controller.ManterGaragemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterTanqueController</servlet-name>
        <servlet-class>controller.ManterTanqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterBombaController</servlet-name>
        <servlet-class>controller.ManterBombaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCarroController</servlet-name>
        <servlet-class>controller.ManterCarroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCombustivelController</servlet-name>
        <servlet-class>controller.ManterCombustivelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAbastecimentoController</servlet-name>
        <servlet-class>controller.ManterAbastecimentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioFuncionarioController</servlet-name>
        <servlet-class>controller.RelatorioFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioGaragemController</servlet-name>
        <servlet-class>controller.RelatorioGaragemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioTanqueController</servlet-name>
        <servlet-class>controller.RelatorioTanqueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioBombaController</servlet-name>
        <servlet-class>controller.RelatorioBombaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioCarroController</servlet-name>
        <servlet-class>controller.RelatorioCarroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarAbastecimentoController</servlet-name>
        <servlet-class>controller.VisualizarAbastecimentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaGaragemController</servlet-name>
        <url-pattern>/PesquisaGaragemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaTanqueController</servlet-name>
        <url-pattern>/PesquisaTanqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaBombaController</servlet-name>
        <url-pattern>/PesquisaBombaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCarroController</servlet-name>
        <url-pattern>/PesquisaCarroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCombustivelController</servlet-name>
        <url-pattern>/PesquisaCombustivelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAbastecimentoController</servlet-name>
        <url-pattern>/PesquisaAbastecimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterGaragemController</servlet-name>
        <url-pattern>/ManterGaragemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterTanqueController</servlet-name>
        <url-pattern>/ManterTanqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterBombaController</servlet-name>
        <url-pattern>/ManterBombaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCarroController</servlet-name>
        <url-pattern>/ManterCarroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCombustivelController</servlet-name>
        <url-pattern>/ManterCombustivelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAbastecimentoController</servlet-name>
        <url-pattern>/ManterAbastecimentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioFuncionarioController</servlet-name>
        <url-pattern>/RelatorioFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioGaragemController</servlet-name>
        <url-pattern>/RelatorioGaragemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioTanqueController</servlet-name>
        <url-pattern>/RelatorioTanqueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioBombaController</servlet-name>
        <url-pattern>/RelatorioBombaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioCarroController</servlet-name>
        <url-pattern>/RelatorioCarroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarAbastecimentoController</servlet-name>
        <url-pattern>/VisualizarAbastecimentoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/TratamentoExcecao</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/TratamentoExcecao</location>
    </error-page>
</web-app>
